<p id="notice"><%= notice %></p>

<h1 id="portfolio-title" data="<%= @portfolio.id %>">Portfolio!! #</h1>
<%= link_to 'Holdings', portfolio_holdings_path(@portfolio) %>
<p><%= @portfolio.name %></p>

<div id="messages">
  <%= render @messages %>
</div>

<h3>Net Value: <%= @portfolio_value %> </h3>

<h3>Holdings:</h3>
<%= render @holdings %>

<h3>Trades:</h3>
  <div id="trades">
    <%= render @trades %>
  </div>
</div>

<form>
  <label>Say Something:</label></br>
  <input id="message_input" type="text" data-behavior="room_speaker">
</form>


<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
