<p id="notice"><%= notice %></p>

<h1>Cash Holdings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cash_holdings.each do |cash_holding| %>
      <tr>
        <td><%= link_to 'Show', cash_holding %></td>
        <td><%= link_to 'Edit', edit_cash_holding_path(cash_holding) %></td>
        <td><%= link_to 'Destroy', cash_holding, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cash Holding', new_cash_holding_path %>
